:root {
    /* Color */
    --color_m_black: rgba(51, 51, 51, 0.9);
}

body, #root {
    height: 100vh;
}

.content {
    min-height: 60vh;
}

/* -- My preset -- */
/* -- Flex -- */
/* Flex Row */
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexRowEnd {
    display: flex;
    justify-content: end;
    align-items: center;
}

.flexRowSpace {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexRowSpaceA {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Flex-Row-Dynamic */
.flexRow_in > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Flex Colum */
.flexColum {
    display: flex;
    flex-direction: column;
}

.flexColumS {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flexColumC {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexColumEnd {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.flexColumSpace {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexColumSpaceB {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexColumSpaceS {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/* Flex-Colum-Dynamic */
.flexColum_in > div {
    display: flex;
    flex-direction: column;
}

/* Flex-gap */
.gap5 {
    gap: 5px;
}

.gap10 {
    gap: 10px;
}

.gap15 {
    gap: 15px;
}

.gap20 {
    gap: 20px;
}

.gap25 {
    gap: 25px;
}

.gap30 {
    gap: 30px;
}

/* -- Margin -- */
/* Vertical  */
.mv5 {
    margin: 5px 0;
}

.mv10 {
    margin: 10px 0;
}

.mv10 {
    margin: 20px 0;
}

.mv20 {
    margin: 20px 0;
}

.mv40 {
    margin: 40px 0;
}

/* Horizontal */
.mh5 {
    margin: 0 5px;
}

.mh10 {
    margin: 0 10px;
}

.mh15 {
    margin: 0 15px;
}

/* Left */
.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

/* Right */
.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

/* Top */
.mb5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

/* Bottom */
.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

/* Margin Dynamic*/
.mr5_in > div {
    margin-right: 5px;
}

.mY5_in > div {
    margin: 5px 0;
}

/* -- Padding -- */
.p0 {
    padding: 0;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

/* Vertical */
.pv5 {
    padding: 5px 0;
}

.pv10 {
    padding: 10px 0;
}

.pv40 {
    padding: 40px 0;
}

/* Horizontal */
.ph10 {
    padding: 0 10px;
}

/* Up-down */
.pt10 {
    padding-top: 10px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb5 {
    padding-bottom: 5px;
}

/* Left-Right */
.pl10 {
    padding-left: 10px;
}

.pr10 {
    padding-right: 10px;
}

/* Padding dynamic*/
.pv5_in > div {
    padding: 5px 0;
}

.pv10_in > div {
    padding: 10px 0;
}

.ph10_in > div {
    padding: 0 10px;
}

/* Font-size*/
.fs8 {
    font-size: 8px;
}

.fs10 {
    font-size: 10px;
}

.fs12 {
    font-size: 12px;
}

.fs14 {
    font-size: 14px;
}

.fs16 {
    font-size: 16px;
}

.fs18 {
    font-size: 18px;
}

.fs20 {
    font-size: 20px;
}

.fs22 {
    font-size: 22px;
}

.fs24 {
    font-size: 24px;
}

.fs28 {
    font-size: 28px;
}

.fs30 {
    font-size: 30px;
}

/* Size 100% */
.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.wh100 {
    width: 100%;
    height: 100%;
}

.fb100 {
    flex-basis: 100%;
}

.fn25 {
    font-size: 25px;
}

/* visibility */
.hide {
    opacity: 0;
}

.unHide {
    opacity: 1;
}

/* Color */
.black {
    color: black;
}

.white {
    color: white;
}

/* &! */
.lock_scroll {
    overflow: hidden;
}

.cut {
    display: none !important;
}

.flexWrap {
    flex-wrap: wrap;
}

/* Класс для дебага (если в пропс не попал класс то он будет красным )*/
.err {
    background: red;
}

/*# sourceMappingURL=style.css.map */
