/* Color */

$color-base: var(--color-base, #D2A4A7);
$color-second: var(--color-second, #D2A4A7);
$color-triple: var(--color-triple, #efbfa9);
// Dop
$color-bg: var(--color-bg, #161625);
$color-heading: var(--color-heading, #818cab);

$color-shadow: rgba(0, 0, 0, 0.5);
$color-gray: #DBDBDB;
$color-gray-checked: #8e8e8e;
$color-font: #464a4c;
$color-purple: #673AB7;
$color-indigo: #3F51B5;
$color-orange: #FF9800;
$color-green: #4CAF50;
$color-red: #F44336;