@use "src/Style/mix";

.wrap {

  padding: .5rem;
  grid-row-start: 1;
  grid-row-end: 3;

  .leftMenu {
    display: flex;
    flex-direction: column;
    gap: .3em;
    overflow: hidden;
    padding: .5rem;

    height: calc(100% - 0.4em);
    box-shadow: 0 2px 5px 5px mix.$color-gray inset;
    border-radius: .3em;

    .icon {

    }

    .navLink {
      display: flex;
      align-content: center;
      align-items: center;
      text-decoration: none;
      color: black;
      gap: .2em;
      width: max-content;
      cursor: pointer;

      span {
        @extend .f-4;
        width: 6em;
      }
    }
  }
}

