@use "src/Style/mix";

.wrap {
  display: flex;
  flex-direction: column;
  gap: .5em;
  padding: .5rem;
  grid-row-start: 1;
  grid-row-end: 3;

  .leftMenu {
    display: flex;
    flex-direction: column;
    gap: .3em;
    overflow: hidden;
    padding: .5rem;

    //height: calc(100% - 0.4em);
    box-shadow: 0 2px 5px 5px mix.$color-gray;
    border-radius: .3em;

    .line {
      width: 100%;
      height: .05em;
      border-radius: 1em;
      background: mix.$color-gray;
    }

    .icon {

    }

    .navLink {
      display: flex;
      align-content: center;
      align-items: center;
      text-decoration: none;
      color: black;
      gap: .2em;
      width: max-content;
      cursor: pointer;
      min-height: 24px;
      user-select: none;

      span {
        @extend .f-4;
      }


    }
  }
}

