@use 'src/Style/mix';

.wrap {
  height: 1.2em;
  padding: .2em;


  .header {
    width: calc(100% - .6em);
    height: 1.2em;
    background: mix.$color-heading;
    box-shadow: 0 2px 5px 5px mix.$color-gray;
    border-radius: .3em;
    padding: 0 0.3em;

    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    .searchWrap {
      flex-basis: 25%;
    }

    .navProfile {
      display: flex;
      align-content: center;
      justify-content: space-around;
      align-items: center;
      gap: .5em;

      .profile {
        display: flex;
        flex-direction: column;

        @extend .f-5;

        span:last-child {
          color: mix.$color-gray-checked;
        }
      }
    }
  }
}