@use 'src/Style/mix';

.wrap {
  display: grid;
  width: 100vw;
  //transition: 1s all linear;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;

  .wrapContent {
    padding: .2em;
    overflow: hidden;
    height: calc(100vh - 2.4em);
    border-radius: .3em;
  }

}

.open {
  grid-template-columns: auto 1fr;
  //animation: 3s ease forwards open;
}

.close {
  grid-template-columns: auto 1fr;
  //animation: 3s ease backwards open;
}

@keyframes open {
  0% {
    grid-template-columns: 1.6rem 1fr;
  }
  @for $i from 40 through 99 {
    #{$i +'%' } {
      grid-template-columns: #{$i / 10 / 2.5  }+rem 1fr;
    }
  }
  100% {
    grid-template-columns: 4rem 1fr;
  }
}

